.alternate-content-wrapper{
    display: flex;
    justify-content: space-between;
}

.alternate-content-wrapper{
    padding: 7rem 0;
}

.alternate-content-title{
    font-family: 'whitneysemibold';
    font-size: 3rem;
    color: var(--color-alternate-section-title);
    margin-bottom: 2rem;
    
}

.alternate-content-para{
    font-family: 'whitneylight';
    color: var(--color-alternate-section-para);
    line-height: 30px;
    font-size: 1.25rem;
}

.alternate-content-info{
    margin: 0 1.5rem;
}

.alternate-content-image{
    width: 60%;
}


@media(max-width:1060px){
    .alternate-content-wrapper{
        padding: 4rem 0;
    }
}


@media(max-width:768px){
    .alternate-content-wrapper{
        flex-direction: column!important;
    }
    .alternate-content-image{
        width: 100%;
    }
    .alternate-content-title{
        font-size: 1.75rem;
    }
    .alternate-content-para{
        font-size: 1.25rem;
    }
}