.banner{
    height: 75vh;
    background: var(--color-header);
    position: relative;
    display: flex;
    justify-content: center;
}

.banner-foreground{
    width: 100vw;
    position: absolute;
    left: -200px;
    bottom: 0;
}

.banner-left-image{
    position: absolute;
    left: -450px;
    bottom: 0;
}

.banner-right-image{
    position: absolute;
    right: -380px;
    bottom: 0;
}
.banner-content-center{
    width: 750px;
    position: absolute;
    bottom: 30%;

}

.banner-with-foreground{
    height: 72vh;
    background: var(--color-header);
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
}


.banner-title{
    /* position: absolute;
    width: max-content;
    top: -110px; */
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 62px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color:var(--color-white);
    transform: translateX(1.5rem);
    margin-bottom: 2.5rem;
}

.download-icon{
    width: 14px;
    margin-right: 5px;
}

.banner-info{
    color: var(--color-white);
    font-family: 'whitneylight';
    line-height: 30px;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.banner-button-container{
    text-align: center;
    display: flex;
    justify-content: center;
}

.banner-download-button{
    background: var(--color-white);
    border: unset;
    outline: unset;
    padding: 16px 32px;
    font-size: 20px;
    font-family: 'whitneymedium';
    color: var(--color-black);
    border-radius: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-right: 1rem;
    transition: 0.4s ease;

}

.banner-redirect-button{
    background: var(--light-black );
    color: var(--color-white);
    border: unset;
    outline: unset;
    padding: 16px 32px;
    font-size: 20px;
    font-family: 'whitneymedium';
    border-radius: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 1rem;
    transition: 0.4s ease;
}

.banner-redirect-button:hover{
    opacity: 0.9;
}

.banner-download-button:hover{
    color: var(--color-hover );
}


/* Banner without foreground */

.banner-footer{
    background: var(--color-light-gray);
    padding: 7rem 0;
}

.banner-footer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-footer-download-button{
    background: var(--color-header);
    border: unset;
    outline: unset;
    padding: 16px 32px;
    font-size: 20px;
    font-family: 'whitneymedium';
    color: var(--color-white);
    border-radius: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-right: 1rem;
    transition: 0.4s ease;
}

.banner-footer-download-button:hover{
    box-shadow: 0 10px 10px rgb(175, 175, 175);
    opacity: 0.8;
}

.banner-footer-image{
    width: 80%;
}

.banner-footer-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    letter-spacing: 0.4px;
    margin-bottom: 2rem;
}

.banner-footer-title-container{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.banner-footer-info{
    font-family: 'whitneylight';
    color: var(--color-alternate-section-para);
    line-height: 30px;
    font-size: 1.25rem;
}

.banner-footer-decoration{
    text-align: center;
}

.banner-footer-decoration-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    letter-spacing: 0.4px;
    margin-bottom: 3rem;
}

@media(max-width:1200px){
    .banner-right-image{
        right: -200px;
    }
}


@media(max-width:1060px){
    .banner-button-container{
        flex-direction: column;
        align-items: center;
    }

    .banner-button-container button{
        margin: 0rem 0 1rem;
    }
}


@media(max-width:1028px){
    .banner-left-image{
        display: none;
    }   
    .banner-with-foreground{
        justify-content: flex-start;
        transform : unset;
    }
    .banner-info{
        text-align: left;
    }

    .banner-button-container{
        align-items: flex-start;
    }
    .header-menu-items{
        display: none;
    }
}

@media (max-width:768px) {
    .banner-left-image{
        display: block;
        left: 270px;
        max-width: 60%;
    }   

    .banner-right-image{
        display: none;
    }

    .banner-content-center{
        position: unset;
    }

    .banner-title{
        font-size: 2.5rem;
        transform: unset;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    .banner-info{
        font-size: 1rem;
    }

    .banner-button-container{
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .banner-download-button{
        margin-right: 1rem!important;
    }

    .banner-footer{
        padding: 4rem 0;
    }

    .banner-footer-title-container{
        width: auto;
    }

    .banner-footer-title{
        font-size: 32px;
    }

    .banner-footer-info{
        font-size: 1.1rem;
    }

    .banner-footer-download-button{
        flex: 1;
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .banner-footer-decoration-image{
        width: 85%;
    }

    .banner-footer-decoration-title{
        font-size: 24px;
        margin-bottom: 2rem;
    }

}

@media (max-width:768px) {
    .banner-button-container{
        flex-direction: column;
        align-items: flex-start;
        /* justify-content: flex-start; */
    }
}

@media (max-width:658px) {
    .banner-left-image{
        left: 60px;
        max-width: 80%;
    }
}

@media(max-width:450px){
    .banner-title{
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .banner-download-button, .banner-redirect-button{
        padding: 10px 25px;
    }
}