*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Outfit:wght@300;400;600&display=swap');

@font-face {
  font-family: 'whitneylight';
  src: url('./assets/fonts/whitneylight-webfont.woff2') format('woff2'),
       url('./assets/fonts/whitneylight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'whitneymedium';
  src: url('./assets/fonts/whitneymedium-webfont.woff2') format('woff2'),
       url('./assets/fonts/whitneymedium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'whitneysemibold';
  src: url('./assets/fonts/whitneysemibold-webfont.woff2') format('woff2'),
       url('./assets/fonts/whitneysemibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --color-header : #404EED;
  --color-white : #fff;
  --color-black : #000;
  --light-black : #23272a;
  --font-secondary : Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --color-hover : #5865f2;
  --color-light-gray : #F6F6F6;
  --color-alternate-section-title : #23272A;
  --color-alternate-section-para : #5F6264;

}

.app{
  background: var(--color-header);
}

.container{
  width: calc(100vw - 320px);
  margin: 0 auto;
}